h1 
{
	margin-top: 5%;
	font-size: 35pt;
	text-align: center;
}
table
{
	border-collapse: separate;
	border-spacing: 100pt;
}
td
{
	font-size: 35pt;
}
.red
{
	text-decoration: none;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 10px;
	box-shadow: 0 0 40px 40px #90130F inset, 0 0 0 0 #F137A6;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	transition: .15s ease-in-out;
}
.red:hover
{
	box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
	color: #90130F;
}
.yellow 
{
	text-decoration: none;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 10px;
	box-shadow: 0 0 40px 40px #92961A inset, 0 0 0 0 #F137A6;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	transition: .15s ease-in-out;
}
.yellow:hover 
{
	box-shadow: 0 0 10px 0 #92961A inset, 0 0 10px 4px #F137A6;
	color: #92961A;
}
